body{
    margin: 0px;
    color:rgb(37, 33, 33);
    background-color:rgb(32, 24, 24);
}

header{
    background-image:url(calcetto.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: left; 
    background-color: rgba(0,0,0,.3);
    height:400px;
    position:relative;
}

header h1,footer strong{
    font-family:'Alfa Slab One', Helvetica;
    letter-spacing:1px;
    font-weight:normal;
    text-align: center;
}

header h1{
    position:absolute;
    left:0px;
    top:0px;
}

a{
    cursor:pointer;
    font-weight:bold;
    padding: 10px 15px;
    border: 1px solid rgb(32, 24, 24);
    border-radius: 100px;
    background-color: darkgray;
    margin:2px;
}

a:hover{
    border: 2px solid rgb(7, 75, 16);
    border-radius:100px;    
}

header h1 strong{
    font-size: 50px;
}

header h1 em{
    font-size: 20px;
}

header nav{
    position:absolute;
    top:0px;
    right:0px;
    padding: 10px 40px;
    font-size: 20px;
}

#menu{
    width: 300px;
    height: 50px;
    display:flex;
    justify-content: space-around;
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-size:20px;
    letter-spacing: 1px;
    text-transform: lowercase;
}

#menu div{
    display:flex;
    justify-content: space-around;
}

section{ 
    margin-bottom: 100px;
}

section div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color:darkgray;
    font-size: 20px;
    font-style:normal;
    font-family: 'Anton', serif;
    line-height: 5px;
    margin-bottom:100px;
}

section img{
    width:70%;
    height:80%;
}

footer{
    background-color:darkgray ;
    height:120px;
    text-align:center;
}

footer p{
    margin:0;
}

.abc{
    margin:0px;
    height:400px;
    background-color: rgba(0,0,0,.3);
}

#barre{
    display:none;
}

#barre div{
    width: 25px;
    height: 3px;
    background-color: rgb(32, 24, 24);
    margin: 5px 0;
    cursor: pointer;
}


@media(max-width: 800px){
    #menu{
        display:none;
    }
    #barre{
        display:block;
    }

    section div{
        font-size:15px;
    }

    .premi{
        font-size:15px;
    }
}


@media (max-width: 550px){
    .prefe{
        margin-top:0px;
    }
    .abc{
        height:200px;
    }

    header{
        height:200px;
    }

    header h1 strong{
        font-size:25px;
    }

    header h1 em{
        font-size: 10px;
    }

    section{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    section img{
        width:60%;
        height:50%; 
    }

    section div{
        margin-bottom:50px;
        font-size:10px;
    }

    .premi{
        font-size:7px;
    }
}

@media (max-width: 400px){
    section div{
        font-size:7px;
    }
}

div img:hover{
    border: 4px solid rgb(7, 75, 16);
    border-radius:20px;
    cursor: pointer;
}

.premi{
    border: 1px solid rgb(32, 24, 24);
    color:green;
    text-decoration: none;
}


.prefe #flex-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#flex-cont .blocco{
    padding: 5px;
    margin:5px;
    height:250px;
    width:250px;
    border:2px solid white;
    border-radius:10px;
    background-color:rgb(131, 49, 63);
}

#flex-cont .blocco .coppa{
    margin-bottom: 5px;
    width:90%;
}
.altezza{
    height:50%;
}

.prefe .compe{
    color:darkgrey;
    font-size: 20px;
    
}

.imm-h1 .titolo{
    color:darkgrey;
    font-size: 15px;
    letter-spacing: 1px;
}

#flex-cont p{
    margin:5px;
    margin-bottom: 5px;
    width:80%;
    height:80%;
    font-size: 15px;
    margin-top:5px;
    margin-bottom: 5px;
    line-height: 15px;
    letter-spacing: 1px;
}

.dett{
    padding:10px 5px;
    border:1px solid black; 
    font-size: 15px;
    background-color: darkgrey;
    color:black;
    cursor:pointer;
    margin-bottom: 5px;
}

.dett:hover{
    border:2px solid green;
    border-radius: 2px;
}
.nascondi{
    display:none;
}

.immagine_cuore{
    width:30px;
    margin:10px;
    height:30px;
    border:2px solid black;
}

.immagine_cuore:hover{
    border:2px solid red;
    border-radius: 5px;
    cursor:pointer;
}

.imm-h1{
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: 0px;  
    margin-bottom:5px;
    width: 90%;
}

.coppa:hover{
    border:2px solid black;
    border-radius: 2px;
}
#x{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
    margin-bottom: 30px;
}

#x .barra{
    display:inline;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
    font-size:15px;
    cursor: pointer;
}

.migliori{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0px;
    margin-top:0px;

}

.blocco_prefe{
    padding:5px;
    margin:5px;
    height:200px;
    width:200px;
    border:2px solid white;
    border-radius:10px;
    background-color:rgb(131, 49, 63) ;
}

.immagine_cuore_spezzato{
    width:30px;
    margin:10px;
    height:30px;
    border:2px solid black;
}
.immagine_cuore_spezzato:hover{
    border:2px solid red;
    border-radius: 5px;
    cursor:pointer;
}

.imma-h1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    width:90%;
}

.tit{
    font-size: 15px;
    margin-bottom: 5px;
}

.immagine_prefe{
    height:120px;
    width:90%;
}
.immagine_prefe:hover{
    border:2px solid black;
    border-radius: 2px;    
}

.hidden{
    letter-spacing: 1px;
    font-family: 'Anton', serif;
    font-size:20px;
    color:darkgrey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.altezza_1{
    height:40%;
}

@media(max-width: 1100px){
    .imm-h1 .titolo,.imma-h1 .tit{
        margin:5px;
        line-height: 10px;
        font-size:10px;
    }
}

@media(max-width: 910px){
    .immagine_prefe{
        height: 80px;
    }
    .blocco,.blocco_prefe{
        width:150px;
        height:150px;
    }
    .dett{
        font-size:10px;
    }

}

@media(max-width: 750px){
    #flex-cont{
        flex-wrap: wrap;
    }
    .migliori{
        flex-wrap: wrap;
    }
    #flex-cont .blocco,.migliori .blocco_prefe{
        width:200px;
        height:200px;
    }
}

@media(max-width: 650px){
    #flex-cont .blocco,.blocco_prefe{
        width:170px;
        height:170px;
    }
    .imm-h1{
        margin-bottom:3px;
    }
}

@media(max-width: 410px){
    #flex-cont .blocco,.migliori .blocco_prefe{
        width:100px;
        height:100px;
    }
    #x .compe{
        font-size:10px;
    }
    .dett{
        padding:1px 1px;
        border:1px solid black; 
        font-size: 7px;
        margin-bottom: 3px;
    }
    .imm-h1{
        margin-bottom:1px;
    }
    .imm-h1 .titolo,.imma-h1 .tit{
        margin:2px;
        line-height: 10px;
        font-size:8px;
    }
    .immagine_cuore{
        height:10px;
        width:10px;
    }
    #x .barra{
        font-size:8px;
    }
    #flex-cont p{
        font-size:8px;
        line-height: 10px;
        margin-bottom:0px;
        margin-top:1px;
    }
    .immagine_cuore_spezzato{
        width: 10px;
        margin: 5px;
        height: 10px
    }
    .immagine_prefe{
        height:50px;
    }
    section{
        margin-top: 0px;
    }
    .hidden{
        font-size: 10px;
    }
}

.bottoni{
    position: absolute;
    bottom:10%;
    left:20%;   
    display: flex;
    flex-direction: row;
}